<div class="home-main-container" id="home">
  <section class="home-section-container">
    <h1>Desarrollador Frontend</h1>
    <h2>Eduardo García López</h2>
  </section>
  <section id="about-me" class="about-me-container row" data-aos="zoom-in" data-aos-duration="1200">
    <div class="col-12 col-lg-5 about-image-container">
      <img src="../../../assets/images/about-me.jpeg" alt="Mi foto">
    </div>
    <div class="col-12 col-lg-7 about-text-container">
      <h2>Sobre mí</h2>
      <p>Hola, mi nombre es Eduardo y llevo 5 años como desarrollador frontend, me apasiona la tecnología y siempre trato de aprender algo nuevo, es por eso que a través de los años he ayudado a las empresas en las que colaboro a tener la mejor calidad de código aplicando clean code y las mejores practicas de desarrollo.</p>
      <p>Sin embargo siempre tengo algo nuevo que aprender y es por ello que el trabajo en equipo es algo que disfruto mucho ya que los compañeros siempre te pueden ayudar a mejorar tanto en lo profesional como lo personal y así entregar siempre productos con alto valor y eficiencia.</p>
    </div>
  </section>
  <section id="skills" class="skills-main-container">
    <h2>Habilidades</h2>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-html5"></i>
      <p class="skill-name">HTML5</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-css3-alt"></i>
      <p class="skill-name">CSS3</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-js"></i>
      <p class="skill-name">JAVASCRIPT</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-angular"></i>
      <p class="skill-name">ANGULAR 2+</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-git-alt"></i>
      <p class="skill-name">GIT</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-bootstrap"></i>
      <p class="skill-name">BOOTSTRAP</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-sass"></i>
      <p class="skill-name">SASS</p>
      <p class="skill-level">AVANZADO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-less"></i>
      <p class="skill-name">LESS</p>
      <p class="skill-level">INTERMEDIO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-react"></i>
      <p class="skill-name">REACT</p>
      <p class="skill-level">INTERMEDIO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-solid fa-2x fa-code"></i>
      <p class="skill-name">JQUERY</p>
      <p class="skill-level">INTERMEDIO</p>
    </div>
    <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="skill-container">
      <i class="fa-brands fa-2x fa-node-js"></i>
      <p class="skill-name">NODEJS</p>
      <p class="skill-level">BÁSICO</p>
    </div>
  </section>
  <section id="experience" class="work-experience-container">
    <h2>Experiencia laboral</h2>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-start">
      <div class="experience-title col-md-5">
        <label>Desarrollador Frontend</label>
        <h4>IDS Comercial</h4>
      </div>
      <div class="experience-information col-md-7">
        <label>Junio 2021 - Actual</label>
        <p>Mantenimiento y creación de nuevos componentes de bancanet de citibanamex con Angular 12, SCSS, HTML, JSP utilizando metodología SCRUM, así como migración de componentes jsp a Angular 12  utilizando principios SOLID y clean code</p>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-end">
      <div class="experience-information col-md-7">
        <label>Marzo 2021 - Junio 2021</label>
        <p>Mantenimiento y creación de nuevos componentes a las diferentes plataformas de la empresa utilizando  Angular 11, SCSS, TS y Bootstrap, de igual forma añadir SEO a cada una de ellas, implementar herramientas de google como analaitycs.</p>
      </div>
      <div class="experience-title col-md-5">
        <label>Desarrollador Frontend</label>
        <h4>Doble Cinco</h4>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-start">
      <div class="experience-title col-md-5">
        <label>Desarrollador Frontend</label>
        <h4>Koomkin</h4>
      </div>
      <div class="experience-information col-md-7">
        <label>Agosto 2020 - Marzo 2021</label>
        <p>Mantenimiento y creación de nuevos componentes a la plataforma, utilizando Angular 10, Bootstrap, SCSS, consultar API’s, optimizar código, agregar SEO, mejorar UX.</p>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-end">
      <div class="experience-information col-md-7">
        <label>Noviembre 2019 - Abril 2020</label>
        <p>Mantenimiento y creación de nuevos componentes a la plataforma de Steren utilizando Magento 2, LESS, XML, PHP, HTML5, y añadir animaciones.</p>
      </div>
      <div class="experience-title col-md-5">
        <label>Desarrollador Frontend</label>
        <h4>Industrias Glamm Commerce</h4>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-start">
      <div class="experience-title col-md-5">
        <label>Freelance</label>
        <h4>Loyalty Refunds</h4>
      </div>
      <div class="experience-information col-md-7">
        <label>Mayo 2019 - Noviembre 2019</label>
        <p>Migración de plataforma existente a Angular 7, utilizando SASS, Bootstrap, y librerias, mostrando tablas, gráficas, diferentes roles de usuario, ocultando o mostrando contenido dependiendo de los permisos, y log out por inactividad.</p>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-end">
      <div class="experience-information col-md-7">
        <label>Agosto 2018 - Junio 2019</label>
        <p>Creación de administrador de plataformas CMS en Angular 6, incluyendo editores de texto, graficas, preview en movil, tablet, computadora en tiempo real, roles de usuarios, paletas de colores, carga y descarga de imágenes y documentos, validaciones, entre otras cosas.</p>
      </div>
      <div class="experience-title col-md-5">
        <label>Desarrollador Frontend</label>
        <h4>Recaudia</h4>
      </div>
    </div>
    <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="3000" class="experience-container row text-start">
      <div class="experience-title col-md-5">
        <label>Desarrollador Frontend</label>
        <h4>GivePic</h4>
      </div>
      <div class="experience-information col-md-7">
        <label>Febrero 2017 - Marzo 2018</label>
        <p>Creación de plataforma sobre fotógrafos as a service, utilizando Angular 4, SASS, Bootstrap implementando pagos con paypal, así como dar mantenimiento a la misma</p>
      </div>
    </div>
  </section>
</div>